@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.animation {
  animation: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  backface-visibility: hidden;
}

.first {
  background-image: url(./images/bg_section_01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header1, .footer1 {
  border: 2px solid white;
  border-right: none;
}

.header2, .footer2, .footer3 {
  border: 2px solid white;
  border-left: none;
}

.bigTitle.animation {
  background: linear-gradient(91.17deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.375rem;
  font-family: 'Unbounded';
  font-weight: 300;
  animation: fadeInLeft;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  backface-visibility: hidden;
}

.headerNavbarTopTitle1 {
  font-size: 1rem;
  font-family: 'Unbounded';
  font-weight: 600;
}

.headerNavbarTopTitle2 {
  font-size: 0.625rem;
  font-family: 'Unbounded';
  font-weight: 600;
}

.headerNavbarTopMenu {
  font-size: 0.75rem;
  font-family: 'Inter';
  font-weight: 500;
}

.headerNavbarTopMenu > div:hover {
  background: linear-gradient(91.17deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
}

.first .container-fluid {
  margin-bottom: 150px;
}

.sectionFirstTitle {
  -webkit-text-fill-color: white;
  font-size: 1rem;
  font-family: 'Unbounded';
  font-weight: 400;
}

.sectionFirstText1 {
  background: linear-gradient(91.17deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6875rem;
  font-family: 'Unbounded';
  font-weight: 200;
}

.sectionFirstText2, .sectionSecondText1, .sectionThirdText1, .sectionFourthText1, .sectionFifthCarouselText1 {
  background: linear-gradient(91.17deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.75rem;
  font-family: 'Inter';
  font-weight: 400;
}

.sectionFirstText3, .sectionSecondText3, .sectionFourthText3 {
  background: linear-gradient(91.17deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.875rem;
  font-family: 'Inter';
  font-weight: 400;
}

.overline1::before {
  content: "˜˜˜˜˜˜˜˜˜˜";
  position: absolute;
  background: linear-gradient(91.17deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  letter-spacing: -0.2em;
  transform: translateY(-20%);
}

.overline2::before {
  content: "˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜";
  position: absolute;
  background: linear-gradient(91.17deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  letter-spacing: -0.2em;
  transform: translateY(-20%);
}

.overline3::before {
  content: "˜˜˜˜˜˜˜˜˜";
  position: absolute;
  background: linear-gradient(91.17deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  letter-spacing: -0.2em;
  transform: translateY(-20%);
}

.overline4::before {
  content: "˜˜˜˜˜˜˜˜";
  position: absolute;
  background: linear-gradient(91.17deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  letter-spacing: -0.2em;
  transform: translateY(-20%);
}

.underline::before {
  content: "˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜";
  position: absolute;
  background: linear-gradient(91.17deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  letter-spacing: -0.2em;
  transform: translateY(90%);
}

.sectionFirstNavbarBottom {
  height: 200px;
  background-color: rgba(0, 0, 0, 0.7);
}

.sectionFirstNavbarBottomText {
  background: linear-gradient(91.17deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.9375rem;
  font-family: 'Unbounded';
  font-weight: 400;
}

.sectionFirstNavbarBottomText > div > a:hover {
  padding: 5px;
  padding-bottom: 10px;
  background: linear-gradient(91.17deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
  background-clip: border-box;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: white;
  transition: 0.5s;
}

.second, .third, .sectionFourthBottom, .fifth{
  background: #111111;
}

.sectionSecondText2, .sectionSecondCardText, .sectionThirdText2, .sectionThirdTabsText, .sectionFourthText4, .sectionFifthCarouselText2 {
  font-size: 0.875rem;
  font-family: 'Inter';
  font-weight: 400;
}

.sectionSecondBox {
  background: #202020;
}

.sectionSecondCardTitle.animation {
  font-size: 2.5rem;
  font-family: 'Unbounded';
  font-weight: 300;
  animation: fadeInLeft;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  backface-visibility: hidden;
}

.sectionThirdTabsTitle {
  background: linear-gradient(91.17deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.875rem;
  font-family: 'Unbounded';
  font-weight: 300;
}

.sectionThirdTabsTitle:hover {
  background: linear-gradient(91.17deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
  background-clip: border-box;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: white;
}

.tab-content > div > div {
  animation: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  backface-visibility: hidden;
}

.fourth {
  background-image: url(./images/bg_section_02.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fourth .container .animation {
  margin-bottom: 150px;
}

.sectionFourthText2 {
  font-size: 0.75rem;
  font-family: 'Inter';
  font-weight: 400;
}

.sectionFifthCarouselTitle {
  font-size: 2.5rem;
  font-family: 'Unbounded';
  font-weight: 300;
}

.footerNavbarBottomTitle1 {
  background: linear-gradient(91.17deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
  font-family: 'Unbounded';
  font-weight: 600;
}

.footerNavbarBottomTitle2 {
  background: linear-gradient(91.17deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.625rem;
  font-family: 'Unbounded';
  font-weight: 600;
}

.footerNavbarBottomMenu {
  background: linear-gradient(91.17deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.75rem;
  font-family: 'Inter';
  font-weight: 500;
}

.footerNavbarBottomMenu > div > a {
  background: linear-gradient(91.17deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.75rem;
  font-family: 'Inter';
  font-weight: 500;
}

.footerNavbarBottomMenu > div:hover {
  background: linear-gradient(91.17deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
  background-clip: border-box;
  -webkit-background-clip: border-box;
}

.footerNavbarBottomMenu > div > a:hover {
  -webkit-text-fill-color: white;
}

@media screen and (max-width: 990px) {
  #navbarSupportedContent {
    margin-top: 20px;
  }

  .header1, .header2, .footer1, .footer2, .footer3 {
    border: 2px solid white;
    padding: 10px;
    background: #111111;
  }

  .navbar-nav [class*="col-"] {
    background: #111111;
  }

  .first .container-fluid {
    margin-bottom: 0;
  }

  .bigTitle.animation {
    font-size: 2rem;
  }

  .overline1::before {
    content: "˜˜˜˜˜˜";
  }

  .overline2::before {
    content: "˜˜˜˜˜˜˜˜˜˜";
  }

  .overline3::before {
    content: "˜˜˜˜˜˜";
  }

  .overline4::before {
    content: "˜˜˜˜˜";
  }

  .underline::before {
    content: "˜˜˜˜˜˜˜˜˜˜˜";
    transform: translateY(40%);
  }

  .sectionThirdTabsTitle {
    font-size: 1rem;
  }

  .sectionFifthCarouselTitle {
    font-size: 1.5rem;
  }

  .fourth .container .animation {
    margin-bottom: 30px;
  }

  .slick-prev, .slick-next, .slick-prev::before, .slick-next::before {
    display: none;
  }
}

/* Modify Slick JS Theme CSS */
.slick-track .slick-active > div > div > div {
  animation: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  backface-visibility: hidden;
}

.slick-prev,.slick-next {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  z-index: 1;
}

.slick-prev {
  position: absolute;
  bottom: 0;
  right: 20px;
}

.slick-prev::before {
  content: '<';
  position: absolute;
  bottom: 5px;
  right: 23px;
  padding: 0 10px;
  font-size: xx-large;
  font-weight: bold;
  color: white;
  border: 1px solid white;
  background: black;
  opacity: .75;
}

.slick-next {
  position: absolute;
  bottom: 0;
  right: 0;
}

.slick-next::before {
  content: '>';
  position: absolute;
  bottom: 5px;
  right: 0;
  padding: 0 10px;
  font-size: xx-large;
  font-weight: bold;
  color: white;
  border: 1px solid white;
  background: black;
  opacity: .75;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before, .slick-next:before {
  opacity: .75;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 50px;
}

.slick-dots {
  position: absolute;
  bottom: -40px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  cursor: pointer;
}
.slick-dots li button {
  width: 20px;
  height: 20px;
  font-size: small;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  background: #B877FF;
  opacity: 0.25;
}

.slick-dots li button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  opacity: 1;
  border-radius: 50%;
  background: white;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  border-radius: 50%;
  background: #B877FF;
}